<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Checkout</title>
    <div th:insert="~{fragments::links-meta}"></div>
    <link rel="stylesheet" type="text/css" th:href="@{css/checkout.css}">
</head>
<body>

<div class="content">
    <div class="w3-main">

        <!-- Header -->
        <div th:insert="~{fragments::header}"></div>

        <div class="void"></div>

        <!-- Void Customer Checkout Form -->
        <div class="row" th:if="${null == session.sessionCustomer}">
            <div class="col-75">
                <div class="container">
                    <form action="#" th:action="@{/checkout}" th:object="${checkout}" th:method="post">
                        <div class="row">
                            <div class="col-50">
                                <h3>Покупатель</h3>

                                <div class="row">
                                    <div class="col-50">
                                        <label><i class="fa fa-user"></i> Имя*
                                            <input type="text" name="firstName" placeholder="Иван" required>
                                        </label>
                                    </div>
                                    <div class="col-50">
                                        <label> Фамилия
                                            <input type="text" name="lastName" placeholder="Иванов">
                                        </label>
                                    </div>
                                </div>

                                <label><i class="fa fa-phone"></i> Телефон*
                                    <input type="text" name="phone" placeholder="80(29)123-45-67"
                                           pattern="(((8\s?0)|(375))(25|29|33|44)\s?([0-9]{7}))" required>
                                </label>

                                <label><i class="fa fa-envelope"></i> Email
                                    <input type="text" name="mail"
                                           pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                           placeholder="ivan@example.com">
                                </label>

                                <div class="form-group">
                                    <label><i class="fa fa-credit-card"></i> Способ оплаты:
                                        <select name="payment" class="form-control input-lg" required>
                                            <option value="CASH"> Наличными</option>
                                            <option value="CARD"> Банковской картой</option>
                                        </select>
                                    </label>
                                </div>
                            </div>

                            <div class="col-50">
                                <h3>Адрес доставки</h3>
                                <label><i class="fa fa-institution"></i> Город
                                    <input type="text" name="city" placeholder="Минск">
                                </label>

                                <label> Улица
                                    <input type="text" name="street" placeholder="пр.Победителей">
                                </label>

                                <div class="row">
                                    <div class="col-50">
                                        <label> Дом
                                            <input type="text" name="house" placeholder="54а">
                                        </label>
                                    </div>
                                    <div class="col-50">
                                        <label> Квартира
                                            <input type="text" name="apartment" placeholder="12">
                                        </label>
                                    </div>
                                </div>
                                <p>* поля обязательные для заполения</p>
                            </div>
                        </div>
                        <input type="submit" value="Оформить" class="btn">
                    </form>
                </div>
            </div>
        </div>

        <!-- Session Customer Checkout Form -->
        <div class="row" th:if="${null != session.sessionCustomer}">
            <div class="col-75">
                <div class="container">
                    <form action="#" th:action="@{/checkout}" th:object="${checkout}" th:method="post">
                        <div class="row">
                            <div class="col-50">
                                <h3>Покупатель</h3>

                                <div class="row">
                                    <div class="col-50">
                                        <label><i class="fa fa-user"></i> Имя*
                                            <input type="text" name="firstName" placeholder="Иван"
                                                   th:value="${session.sessionCustomer.firstName}" required>
                                        </label>
                                    </div>
                                    <div class="col-50">
                                        <label> Фамилия
                                            <input type="text" name="lastName" placeholder="Иванов"
                                                   th:value="${session.sessionCustomer.lastName}">
                                        </label>
                                    </div>
                                </div>

                                <label><i class="fa fa-phone"></i> Телефон*
                                    <input type="text" name="phone" placeholder="80(29)123-45-67"
                                           pattern="(((8\s?0)|(375))(25|29|33|44)\s?([0-9]{7}))"
                                           th:value="${session.sessionCustomer.phone}" required>
                                </label>

                                <label><i class="fa fa-envelope"></i> Email
                                    <input type="text" name="mail"
                                           pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                           placeholder="ivan@example.com"
                                           th:value="${session.sessionCustomer.mail}">
                                </label>

                                <div class="form-group">
                                    <label><i class="fa fa-credit-card"></i> Способ оплаты:
                                        <select name="payment" class="form-control input-lg" required>
                                            <option value="CASH"> Наличными</option>
                                            <option value="CARD"> Банковской картой</option>
                                        </select>
                                    </label>
                                </div>
                            </div>

                            <!-- Void Address Form -->
                            <div class="col-50" th:if="${null == session.sessionCustomer.address}">
                                <h3>Адрес доставки</h3>
                                <label><i class="fa fa-institution"></i> Город
                                    <input type="text" name="city" placeholder="Минск">
                                </label>

                                <label> Улица
                                    <input type="text" name="street" placeholder="пр.Победителей">
                                </label>

                                <div class="row">
                                    <div class="col-50">
                                        <label> Дом
                                            <input type="text" name="house" placeholder="54а">
                                        </label>
                                    </div>
                                    <div class="col-50">
                                        <label> Квартира
                                            <input type="text" name="apartment" placeholder="12">
                                        </label>
                                    </div>
                                </div>
                                <p>* поля обязательные для заполения</p>
                            </div>

                            <!-- Session Address Form -->
                            <div class="col-50" th:if="${null != session.sessionCustomer.address}">
                                <h3>Адрес доставки</h3>
                                <label><i class="fa fa-institution"></i> Город
                                    <input type="text" name="city" placeholder="Минск"
                                           th:value="${session.sessionCustomer.address.city}">
                                </label>

                                <label> Улица
                                    <input type="text" name="street" placeholder="пр.Победителей"
                                           th:value="${session.sessionCustomer.address.street}">
                                </label>

                                <div class="row">
                                    <div class="col-50">
                                        <label> Дом
                                            <input type="text" name="house" placeholder="54а"
                                                   th:value="${session.sessionCustomer.address.house}">
                                        </label>
                                    </div>
                                    <div class="col-50">
                                        <label> Квартира
                                            <input type="text" name="apartment" placeholder="12"
                                                   th:value="${session.sessionCustomer.address.apartment}">
                                        </label>
                                    </div>
                                </div>
                                <p>* поля обязательные для заполения</p>
                            </div>

                        </div>
                        <input type="submit" value="Оформить" class="btn">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Footer -->
<div th:insert="~{fragments::footer}"></div>

</body>
</html>
